[".pre-commit-config.yaml"]

  [[".pre-commit-config.yaml".repos]]
    # dycw
    repo = "https://github.com/dycw/pre-commit-hooks"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "run-bump-my-version"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "replace-sequence-str"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "format-requirements"

  [[".pre-commit-config.yaml".repos]]
    # nitpick
    repo = "https://github.com/andreoliwa/nitpick"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "nitpick-check"

  [[".pre-commit-config.yaml".repos]]
    # pre-commit
    repo = "https://github.com/pre-commit/pre-commit-hooks"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "check-executables-have-shebangs"

    [[".pre-commit-config.yaml".repos.hooks]]
      args = ["--autofix"]
      id = "pretty-format-json"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "check-merge-conflict"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "check-symlinks"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "destroyed-symlinks"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "detect-private-key"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "end-of-file-fixer"

    [[".pre-commit-config.yaml".repos.hooks]]
      args = ["--fix=lf"]
      id = "mixed-line-ending"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "no-commit-to-branch"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "trailing-whitespace"

  [[".pre-commit-config.yaml".repos]]
    # pretty-format-toml
    repo = "https://github.com/compwa/taplo-pre-commit"

    [[".pre-commit-config.yaml".repos.hooks]]
      args = [
        "--option",
        "indent_tables=true",
        "--option",
        "indent_entries=true",
        "--option",
        "reorder_keys=true",
      ]
      id = "taplo-format"

  [[".pre-commit-config.yaml".repos]]
    # ruff
    repo = "https://github.com/astral-sh/ruff-pre-commit"

    [[".pre-commit-config.yaml".repos.hooks]]
      args = ["--fix"]
      id = "ruff-check"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "ruff-format"

  [[".pre-commit-config.yaml".repos]]
    # shellcheck
    repo = "https://github.com/shellcheck-py/shellcheck-py"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "shellcheck"

  [[".pre-commit-config.yaml".repos]]
    # shfmt
    repo = "https://github.com/scop/pre-commit-shfmt"

    [[".pre-commit-config.yaml".repos.hooks]]
      id = "shfmt"

  [[".pre-commit-config.yaml".repos]]
    # uv
    repo = "https://github.com/astral-sh/uv-pre-commit"

    [[".pre-commit-config.yaml".repos.hooks]]
      args = ["--upgrade"]
      id = "uv-lock"

[nitpick]
  [nitpick.files]
    [nitpick.files.absent]
      ".bump2version.cfg" = ""
      ".flake8" = ""
      ".isort.cfg" = ""
      "MANIFEST.in" = ""
      "package.json" = ""
      "setup.cfg" = ""
      "setup.py" = ""

    [nitpick.files.present]
      "pyproject.toml" = ""

["pyproject.toml"]
  ["pyproject.toml".build-system]
    build-backend = "uv_build"
    requires = ["uv_build"]

  ["pyproject.toml".project]
    readme = "README.md"

  ["pyproject.toml".tool]
    ["pyproject.toml".tool.bumpversion]
      allow_dirty = true

    ["pyproject.toml".tool.coverage]
      ["pyproject.toml".tool.coverage.html]
        directory = ".coverage/html"

      ["pyproject.toml".tool.coverage.report]
        exclude_also = ["@overload", "if TYPE_CHECKING:"]
        fail_under = 100.0
        skip_covered = true
        skip_empty = true

      ["pyproject.toml".tool.coverage.run]
        branch = true
        data_file = ".coverage/data"
        parallel = true

    ["pyproject.toml".tool.pyright]
      deprecateTypingAliases = true
      enableReachabilityAnalysis = false
      reportCallInDefaultInitializer = true
      reportImplicitOverride = true
      reportImplicitStringConcatenation = true
      reportImportCycles = true
      reportMissingSuperCall = true
      reportMissingTypeArgument = false
      reportMissingTypeStubs = false
      reportPrivateUsage = false
      reportPropertyTypeMismatch = true
      reportUninitializedInstanceVariable = true
      reportUnknownArgumentType = false
      reportUnknownMemberType = false
      reportUnknownParameterType = false
      reportUnknownVariableType = false
      reportUnnecessaryComparison = false
      reportUnnecessaryTypeIgnoreComment = true
      reportUnusedCallResult = true
      reportUnusedImport = false
      reportUnusedVariable = false
      typeCheckingMode = "strict"

    ["pyproject.toml".tool.pytest]
      ["pyproject.toml".tool.pytest.ini_options]
        addopts = ["--color=auto", "--strict-markers", "-ra", "-vv"]
        asyncio_default_fixture_loop_scope = "function"
        asyncio_mode = "auto"
        collect_imported_tests = false
        filterwarnings = ["error"]
        minversion = "8.0"
        testpaths = ["src/tests"]
        xfail_strict = true

    ["pyproject.toml".tool.ruff]
      src = ["src"]
      unsafe-fixes = true

      ["pyproject.toml".tool.ruff.format]
        preview = true
        skip-magic-trailing-comma = true

      ["pyproject.toml".tool.ruff.lint]
        explicit-preview-rules = true
        fixable = ["ALL"]
        ignore = [
          "ANN401",   # any-type
          "ASYNC109", # async-function-with-timeout
          "C901",     # complex-structure
          "CPY",      # flake8-copyright
          "D",        # pydocstyle
          "DOC",      # pydoclint
          "E501",     # line-too-long
          "PD",       # pandas-vet
          "PERF203",  # try-except-in-loop
          "PLC0415",  # import-outside-top-level
          "PLR0911",  # too-many-return-statements
          "PLR0912",  # too-many-branches
          "PLR0913",  # too-many-arguments
          "PLR0915",  # too-many-statements
          "PLR2004",  # magic-value-comparison
          "PT012",    # pytest-raises-with-multiple-statements
          "PT013",    # pytest-incorrect-pytest-import
          "S202",     # tarfile-unsafe-members
          "S310",     # suspicious-url-open-usage
          "S311",     # suspicious-non-cryptographic-random-usage
          "S602",     # subprocess-popen-with-shell-equals-true
          "S603",     # subprocess-without-shell-equals-true
          "S607",     # start-process-with-partial-path
          # preview
          "S101", # assert
          # formatter
          "COM812", # missing-trailing-comma
          "COM819", # prohibited-trailing-comma
          "E111",   # indentation-with-invalid-multiple
          "E114",   # indentation-with-invalid-multiple-comment
          "E117",   # over-indented
          "ISC001", # single-line-implicit-string-concatenation
          "ISC002", # multi-line-implicit-string-concatenation
          "W191",   # tab-indentation
        ]
        preview = true
        select = [
          "ALL",
          "RUF022", # unsorted-dunder-all
        ]

        ["pyproject.toml".tool.ruff.lint.extend-per-file-ignores]
          "src/tests/**/*.py" = ["S101"] # assert

        ["pyproject.toml".tool.ruff.lint.flake8-tidy-imports]
          ban-relative-imports = "all"

        ["pyproject.toml".tool.ruff.lint.isort]
          required-imports = ["from __future__ import annotations"]
          split-on-trailing-comma = false
